/*$ ************* Custom Properties - Variables  ************* */

:root {
  --first-color: #17181a;
  --second-color: #e1b12c;
  --text-color: #f5f6fa;
  --second-text-color: #e1b12c;
  --max-width: 1200px;
  --border: 1px solid var(--second-color);
  --header-height: 7vh;
}

/*$ ************* Reset ************* */

html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
  background-color: var(--first-color);
  color: var(--text-color);
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/*$ ************* Preset - Estilos predefinidos  ************* */

.max-width-container {
  max-width: var(--max-width);
  margin: 0 auto;
}

/*$ ************* Site Styles - Estilos de un sitio específico ************* */

/*? Header Navegación */

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--header-height);
  border-bottom: var(--border);
  user-select: none;
}

.barra-navegacion {
  height: inherit;
}

.barra-navegacion ul {
  display: flex;
  height: inherit;
  list-style: none;
  align-items: center;
  justify-content: space-between;
}

.barra-navegacion ul li {
  padding: 0.5rem 5%;
  cursor: pointer;
  font-size: 10px;
}

.barra-navegacion ul li:hover {
  color: var(--second-color);
}

.barra-navegacion ul li.is-active {
  cursor: pointer;
  font-weight: bolder;
  color: var(--second-text-color);
  font-size: 13px;
  pointer-events: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/** Media-Query */

@media (min-width: 500px) {
  .barra-navegacion ul li {
    font-size: 12px;
  }

  .barra-navegacion ul li.is-active {
    font-size: 14px;
  }
}

/*? Contenido */

.contenedor,
.contenedor-comision,
.contenedor-ganancia {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40%;
  margin-top: var(--header-height);
}

.contenedor-comision,
.contenedor-ganancia {
  margin-top: 1.5rem;
}

.contenedor {
  height: calc(100vh - var(--header-height));
}

.contenedor-porcentaje {
  height: 50vh;
  width: 100%;
}

.contenedor-cantidad {
  height: 20vh;
  width: 100%;
}

.contenedor-porcentaje input,
.contenedor-cantidad input,
.contenedor-comision input,
.contenedor-ganancia input {
  border: var(--border);
  background-color: inherit;
  color: var(--text-color);
  margin: 2vh 5%;
  width: 90%;
  padding: 0.3rem;
  font-size: 14px;
  border-radius: 0.3rem;
}

.contenedor-comision h1,
.contenedor-ganancia h2 {
  text-align: center;
  font-size: 20px;
}

#ganancia,
#resultado,
#ganancia-diaria {
  font-size: 16px;
  margin: 0.5rem 5%;
  text-align: center;
}

#comision {
  color: var(--second-text-color);
  font-size: 12px;
  margin-top: 0.5rem;
}

/** Media-Query */

@media (min-width: 500px) {
  .form-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .contenedor-cantidad {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contenedor-porcentaje input,
  .contenedor-cantidad input {
    margin: 10px;
    width: 20%;
    padding: 0.5rem;
    font-size: 15px;
  }

  .contenedor-comision h1,
  .contenedor-ganancia h2 {
    font-size: 20px;
  }

  .contenedor-comision input,
  .contenedor-ganancia input {
    width: 50%;
    padding: 0.5rem;
    font-size: 15px;
  }

  #ganancia,
  #resultado,
  #ganancia-diaria {
    font-size: 18px;
    margin-top: 6rem;
    letter-spacing: 0.5px;
  }

  #resultado,
  #ganancia-diaria {
    margin-top: 2rem;
  }

  #comision {
    font-size: 13px;
  }

  #cantidad-anterior,
  #cantidad-siguiente {
    width: 200px;
  }
}
