/*$ ************* Custom Properties  ************* */

:root {
  --first-color: #0e0f11;
  --second-color: #c1c6d9;
  --third-color: #a7b122;
  --first-text-color: var(--second-color);
  --second-text-color: var(--third-color);
  --border: 1px solid var(--second-color);
  --header-height: 60px;
  --max-width: 1200px;
}

/*$ ************* Reset ************* */

html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  background-color: var(--first-color);
  color: var(--first-text-color);
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: texfield;
  -moz-appearance: textfield;
}

/*$ ************* Site Styles - Estilos de un sitio específico ************* */

/*********? Header *********/

.header-container {
  height: var(--header-height);
  border-bottom: var(--border);
}

.header-navbar-container,
.header-list-container {
  height: inherit;
}

.header-list-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}

.header-list-container li > * {
  cursor: pointer;
  background-color: inherit;
  font-weight: 500;
  font-size: 0.9rem;
  color: var(--text-color);
  cursor: pointer;
  text-decoration: none;
  padding: 15px;
}

.header-list-container li > *.is-active {
  font-weight: 700;
  color: var(--second-text-color);
}

/** Media-Query */

@media (min-width: 600px) {
  :root {
    --header-height: 45px;
  }

  .header-list-container {
    max-width: var(--max-width);
    margin: 0 auto;
    justify-content: space-evenly;
  }

  .header-list-container li > * {
    font-size: 0.8rem;
    padding: 15px 30px;
  }
}

/*********? Main *********/

.input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*********! Main Form *********/

.main-container {
  height: calc(100vh - var(--header-height));
}

.main-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-form-container.top {
  height: 55%;
}

.main-form-container.bottom {
  height: 15%;
  margin-top: 25px;
}

.main-form-container label {
  margin-top: 15px;
  font-size: 0.95rem;
  font-weight: 600;
}

.main-form-container input {
  background-color: inherit;
  border: var(--border);
  color: var(--text-color);
  width: 250px;
  margin-top: 5px;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 0.93rem;
  font-weight: 500;
}

.main-form-container output {
  margin-top: 20px;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.5px;
}

/** Media-Query */

@media (min-width: 600px) {
  .main-form-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "uno dos tres cuatro"
      "uno dos tres cuatro"
      "uno dos tres cuatro"
      ". opt1 opt1 ."
      ". monto monto ."
      ". opt2 opt2 .";
    max-width: var(--max-width);
    margin: 0 auto;
  }

  .main-form-container > * {
    justify-self: center;
  }

  .main-form-container input {
    width: 85%;
  }

  .main-form-container.top output {
    grid-area: opt1;
  }

  .main-form-container.bottom output {
    grid-area: opt2;
  }

  .input-group.uno {
    grid-area: uno;
  }

  .input-group.dos {
    grid-area: dos;
  }

  .input-group.tres {
    grid-area: tres;
  }

  .input-group.cuatro {
    grid-area: cuatro;
  }

  .input-group.cinco {
    grid-area: monto;
    width: 50%;
    margin-bottom: 5%;
  }
}

/*********! Minor Form *********/

.minor-container {
  height: calc(100vh - var(--header-height));
}

.minor-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.minor-form-container.top {
  padding-top: 40px;
}

.minor-form-container.top output {
  text-align: center;
  letter-spacing: 0.5px;
}

.minor-form-container.bottom {
  margin-top: 50px;
}

.minor-form-container label {
  margin-top: 15px;
  font-size: 0.95rem;
  font-weight: 500;
}

.minor-form-container input {
  background-color: inherit;
  border: var(--border);
  color: var(--text-color);
  width: 250px;
  margin-top: 5px;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 0.93rem;
  font-weight: 500;
}

.minor-form-container output {
  margin-top: 20px;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.5px;
}

/** Media-Query */

@media (min-width: 600px) {
  .minor-container {
    display: flex;
    flex-direction: column;
  }

  .minor-form-container.top {
    padding-top: 40px;
    height: 35%;
  }

  .minor-form-container.bottom {
    height: 20%;
  }
}

/*********! Modulo Multi Tasa *********/

.modulo-multi-tasa {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  bottom: 10px;
  left: 10px;
  height: 280px;
  width: 200px;
  border: 1px solid var(--second-color);
}

.modulo-multi-tasa button {
  background-color: inherit;
  color: var(--second-color);
  padding: 10px;
  border: 1px solid var(--second-color);
  border-radius: 10px;
}

.modulo-multi-tasa p:first-of-type {
  color: var(--third-color);
}

/** Media-Query */

@media (min-width: 800px) {
  .modulo-multi-tasa {
    display: flex;
  }
}
